<%-include('header.ejs')%>
<h1>Home</h1>
<p><%=content%></p>

<%function truncateString(str, num) {  %>
    <% if (str.length > num) { %>
    <%    return str.slice(0, num) + "..."; %>
    <%    } else { %>
    <%     return str; %>
    <%    }  %>
<% } %>

    
    <% posts.forEach(function(post){ %>
    <%const shortString= truncateString(post.post,100);%>
    <h2> <%= post.title %> </h2>
  <p> <%=shortString  %>  
    <a href="/post/<%= post.title %>"> Read more</a>
</p>
    <% }) %>

<%-include('footer.ejs')%>
